.App {
  text-align: center;
}

/* Donifez css starts here */

.row{
  display:flex;  
}
.header-signin{
  position: relative;
  left:-200px;
  top:40px;
  font-weight: bolder;
  font-size:1.5rem;
}
.static-signup{
background: #EDEDFE;
width: 500px;
height: 536px;
position: relative;
bottom: -50px;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}
.static-signin{
  background: #EDEDFE;
  width: 500px;
  height: 536px;
  position: relative;
  bottom: -60px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  }
.moving-signin{
  background: #FFFFFF;
  width: 500px;
height: 536px;
position: relative;
bottom: -60px;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}
.moving-signup{
  background: #FFFFFF;
  width: 500px;
height: 536px;
position: relative;
bottom: -50px;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
border-radius: 4px;
padding-bottom:60px;
}

 .signin-email-label{
  position: absolute;
  left:50px;
  top:125px;
 }
 .signin-email{
  width:467px;
  height:40px;
  border: 1px solid #C9D6DF;
box-sizing: border-box;
border-radius: 4px;
position:absolute;
left:50px;
top:155px;
padding-left:10px;

 }
 .signin-password-label{
  position: absolute;
  left:50px;
  top:210px;
 }
 .signin-password{
  width:467px;
  height:40px;
  border: 1px solid #C9D6DF;
box-sizing: border-box;
border-radius: 4px;
position:absolute;
left:50px;
top:235px;
padding-left:10px;
 }
 .signin-agreement{
    position: absolute;
    left:50px;
    top:280px;
 }
 .signin-button{
  background: #2196F3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 15px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width:467px;
  height:43px;
  position: absolute;
  top:320px;
  left:50px;
 }
 .option-signin{
  position: absolute;
  top:370px;
  left:280px;
  font-weight: bolder;
 }
 .switch-signin{
  position: absolute;
  top:470px;
  left:160px;
 }
 .forgot{
  position: absolute;
  top:280px;
  left:400px;
 }
 .signup-fullname-label{
  position: absolute;
  left:50px;
  top:85px;
 }
.signup-fullname{
  width:467px;
  height:40px;
  border: 1px solid #C9D6DF;
box-sizing: border-box;
border-radius: 4px;
position:absolute;
left:50px;
top:115px;
padding-left:10px;
 }
 .signup-email-label{
  position: absolute;
  left:50px;
  top:165px;
 }
 .signup-email{
  width:467px;
  height:40px;
  border: 1px solid #C9D6DF;
box-sizing: border-box;
border-radius: 4px;
position:absolute;
left:50px;
top:195px;
padding-left:10px;
 }
 .signup-password-label{
  position: absolute;
  left:50px;
  top:245px;
 }
 .signup-password{
  width:467px;
  height:40px;
  border: 1px solid #C9D6DF;
box-sizing: border-box;
border-radius: 4px;
position:absolute;
left:50px;
top:275px;
padding-left:10px;
 }
 .signup-button{
  background: #2196F3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 15px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width:467px;
  height:43px;
  position: absolute;
  top:350px;
  left:50px;
 }
 .signup-agreement{
   position: absolute;
   top:315px;
   left:50px;
 }
 .option-signup{
  position: absolute;
  top:400px;
  left:280px;
  font-weight: bolder;
 }
 .switch-signup{
  position: absolute;
  top:490px;
  left:160px;
 }
 .header-signup{
  position: relative;
  left:-200px;
  top:20px;
  font-weight: bolder;
  font-size:1.5rem;
}
/*  
 Donifez css ends here */

/*  
Donifez media query begins here */
@media(max-width:1024px){
  .signin-email, .signin-password{
    width:400px;
  }
  .signin-button{
    width:400px;
    top:330px;
  }
  .forgot{
    top:280px;
    left:330px;
   }
   .option-signin{
    top:380px;
    left:240px;
   }
   .header-signin{
    left:-150px;  
  }
  .switch-signin{
    top:510px;
  }
}

@media(max-width:768px){

  .signin-email, .signin-password{
    width:310px;
    left:30px;
  }
  .signin-button{
    width:310px;
    top:330px;
    left:30px;

  }
  .forgot{
    top:280px;
    left:250px;
   }
   .option-signin{
    top:380px;
    left:170px;
   }
   .header-signin{
    
    left:-110px;
   } 
   .signin-email-label, .signin-password-label{
    left:30px;
   }
   .switch-signin{
     left:70px;
   }
}
@media(max-width:425px){
  .row{
    display:grid;
  }
  .static-signin, .moving-signin{
    width:530px;
  }
  .header-signin{
    left:-100px;
  }
  .signin-email, .signin-password, .signin-email-label,
  .signin-password-label, .signin-button, .signin-agreement{
    left:110px;
  }
  .option-signin{
    top:380px;
    left:250px;
   }
   .forgot{
    left:350px;
    width:50px;
   }
   .switch-signin{
     left:160px;
   }
}
 
 /* Donifez media query ends here */

