/*
light blue color: #2196F3
light green color: #28B446
White color: #ffffff

*/

/* NAVBAR */

.logo {
  font-weight: 700 !important;
  font-size: 30px;
}

.logo::first-letter{
  font-size: 40px;
  color: #2196F3;
  font-weight: 700;
}

.navbar-right{
  margin-right: 100px;
}

.nav-btn {
  color: #ffffff;
  background-color: #2196F3;
  padding: 0px 30px !important;
    font-size: 16px !important;
    border: none;
  /* padding-right: 30px;
  padding-left: 30px;
  padding-top: 0rem;
  padding-top: 0rem; */
  
  /* outline: none;
  box-shadow: none; */
}

.nav-btn:hover {
  background-color: #28B446;
  /* border: 1px solid #28B446; */
  outline: none;
  box-shadow: none;
}

.navbar-body {
  bottom: 60px;
  
}

.nav-list {
  margin-right: 25px;
}

.hero {
  background-image: url(../src/assets/img/background.svg);
  border-radius: 0;
  height: 90vh;
}

.hero-title {
  text-align: center;
  color: #ffffff;
}

.hero-heading {
  font-size: 48px;
}

.choose-trip {
  border: 1px solid #ffffff;
  height: 09rem;
  width: 70rem;
  margin-left: 3rem;
  margin-top: 6rem;
  background-color: #ffffff;
}

.dropdown-btn {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
  font-weight: 700;
  margin-left: 20px;
  
}

.dropdown-btn:hover {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
}
 .DropdownMenu{
  outline:none;
  border:none;
}
.select-box{
  box-shadow: none; 
}
/* .secondary.dropdown-toggle:focus{
  box-shadow: none;
  background-color: #ffffff;
} */

.drop {
  background-color: #ffffff;
}

.form-inline {
  margin-left: 0px;
}

.form-btn {
  background-color: #2196F3;
  margin-left: 0rem;
  padding: 6px 28px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 15px rgba(0, 0, 0, 0.12);
}

.form-btn:hover {
  background-color: #28B446;
}

.form-input {
  padding: 6px 42px;
}

.dropdown-container {
  width: 20rem;
}

.dropdown-block {
  display: flex;
  margin-bottom: 17px;
}

.dropdown-head {
  font-size: 15px;
  font-weight: 700;
}

.decre-btn {
  width: 0px;
  margin-right: 40px;
  /* margin-right: 40px; */

}
button.decre-btn {
  background-color: #ffffff;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  border: none;
  /* width: 20px;  */
}

.count-num {
  margin-right: 19px;
}

.decre-img {
  width: 28px;
  margin-left: 0px;
}

.incre-img {
  width: 28px;
  margin-left: 0px;
}

.dropdown-btn-container {
  display: flex;
}

/* .inner-dropdown {
  width: 8rem;
} */

.dropdown-head {
  width: 10rem;
}





/* .dropdown-container {
  width: 15rem;
} */


/* .dropdown-block {
  width: 20rem;
} */

/* .button.inner-text.dropdown-item {
  padding: 4px 0px;
} */

/* @media (min-width: 576px) {
     .hero{
      padding-top: 4rem;
      padding-right: 10rem;
      padding-bottom: 4rem;
      padding-left: 10rem;
      width: 75rem;
      height: 180vh;
     }

     .choose-trip {
      border: 1px solid #ffffff;
      height: 06rem;
      width: 60rem;
      margin-left: -1rem;
      margin-top: 6rem;
      
    }


} */









.App {
  text-align: center;
}

/* Donifez css starts here */

/* SIGN UP AND SIGN IN */
.row{
  display:flex;  
}
.header-signin{
  position: relative;
  left:-200px;
  top:40px;
  font-weight: bolder;
  font-size:1.5rem;
}
.static-signup{
background: #EDEDFE;
width: 500px;
height: 536px;
position: relative;
bottom: -50px;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}
.static-signin{
  background: #EDEDFE;
  width: 500px;
  height: 536px;
  position: relative;
  bottom: -60px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  }
.moving-signin{
  background: #FFFFFF;
  width: 500px;
height: 536px;
position: relative;
bottom: -60px;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
border-radius: 4px;
}
.moving-signup{
  background: #FFFFFF;
  width: 500px;
height: 536px;
position: relative;
bottom: -50px;
box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
border-radius: 4px;
padding-bottom:60px;
}

 .signin-email-label{
  position: absolute;
  left:50px;
  top:125px;
 }
 .signin-email{
  width:467px;
  height:40px;
  border: 1px solid #C9D6DF;
box-sizing: border-box;
border-radius: 4px;
position:absolute;
left:50px;
top:155px;
padding-left:10px;

 }
 .signin-password-label{
  position: absolute;
  left:50px;
  top:210px;
 }
 .signin-password{
  width:467px;
  height:40px;
  border: 1px solid #C9D6DF;
box-sizing: border-box;
border-radius: 4px;
position:absolute;
left:50px;
top:235px;
padding-left:10px;
 }
 .signin-agreement{
    position: absolute;
    left:50px;
    top:280px;
 }
 .signin-button{
  background: #2196F3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 15px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width:467px;
  height:43px;
  position: absolute;
  top:320px;
  left:50px;
 }
 .option-signin{
  position: absolute;
  top:370px;
  left:280px;
  font-weight: bolder;
 }
 .switch-signin{
  position: absolute;
  top:470px;
  left:160px;
 }
 .forgot{
  position: absolute;
  top:280px;
  left:400px;
 }
 .signup-fullname-label{
  position: absolute;
  left:50px;
  top:85px;
 }
.signup-fullname{
  width:467px;
  height:40px;
  border: 1px solid #C9D6DF;
box-sizing: border-box;
border-radius: 4px;
position:absolute;
left:50px;
top:115px;
padding-left:10px;
 }
 .signup-email-label{
  position: absolute;
  left:50px;
  top:165px;
 }
 .signup-email{
  width:467px;
  height:40px;
  border: 1px solid #C9D6DF;
box-sizing: border-box;
border-radius: 4px;
position:absolute;
left:50px;
top:195px;
padding-left:10px;
 }
 .signup-password-label{
  position: absolute;
  left:50px;
  top:245px;
 }
 .signup-password{
  width:467px;
  height:40px;
  border: 1px solid #C9D6DF;
box-sizing: border-box;
border-radius: 4px;
position:absolute;
left:50px;
top:275px;
padding-left:10px;
 }
 .signup-button{
  background: #2196F3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 15px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  width:467px;
  height:43px;
  position: absolute;
  top:350px;
  left:50px;
 }
 .signup-agreement{
   position: absolute;
   top:315px;
   left:50px;
 }
 .option-signup{
  position: absolute;
  top:400px;
  left:280px;
  font-weight: bolder;
 }
 .switch-signup{
  position: absolute;
  top:490px;
  left:160px;
 }
 .header-signup{
  position: relative;
  left:-200px;
  top:20px;
  font-weight: bolder;
  font-size:1.5rem;
}
/*  
 Donifez css ends here */

/*  
Donifez media query begins here */
@media(max-width:1024px){
  .signin-email, .signin-password{
    width:400px;
  }
  .signin-button{
    width:400px;
    top:330px;
  }
  .forgot{
    top:280px;
    left:330px;
   }
   .option-signin{
    top:380px;
    left:240px;
   }
   .header-signin{
    left:-150px;  
  }
  .switch-signin{
    top:510px;
  }
}

@media(max-width:768px){

  .signin-email, .signin-password{
    width:310px;
    left:30px;
  }
  .signin-button{
    width:310px;
    top:330px;
    left:30px;

  }
  .forgot{
    top:280px;
    left:250px;
   }
   .option-signin{
    top:380px;
    left:170px;
   }
   .header-signin{
    
    left:-110px;
   } 
   .signin-email-label, .signin-password-label{
    left:30px;
   }
   .switch-signin{
     left:70px;
   }
}
@media(max-width:425px){
  .row{
    display:grid;
  }
  .static-signin, .moving-signin{
    width:530px;
  }
  .header-signin{
    left:-100px;
  }
  .signin-email, .signin-password, .signin-email-label,
  .signin-password-label, .signin-button, .signin-agreement{
    left:110px;
  }
  .option-signin{
    top:380px;
    left:250px;
   }
   .forgot{
    left:350px;
    width:50px;
   }
   .switch-signin{
     left:160px;
   }
}
 
 /* Donifez media query ends here */

